body{
	 font-family: Roboto;    
	 margin: 0;

}
/*Header*/
.header{
	position: relative;
	margin:0 auto;
}
.header img{
	
	width:100%;
}
.header ul{
	list-style: none;
	display: inline-flex;
	position: absolute;
	top:5%;
	right:5%;	
	font-size: 20px;
	text-decoration: none;

	
}
.header ul li{
	margin-right: 15px;
	padding-right: 10px;
	font-size: 20px;
	font-weight: 600;
}

.header ul li a{
	text-decoration: none;
	color: white;
}
.btn-registro{

	color:white;
	text-align: center;
	background-color: #0b6686;
	text-decoration: none;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: -20px;
	margin-left:-100px;
	width:200px;
	height:40px;
	display: block;
	position:absolute;
	top:50%;
	left:50%;
	padding: 5px;
	border-radius: 30px;
	border-left-width: 10px;
	padding-right: 30px;
	padding-left: 30px;
	font-size: 30px;
}
.canciones{
	font-size: 30px;
	color:white;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -10px;
	margin-left:-50px;
	display:block;
	text-decoration: none;
	position:absolute;
	top:70%;
	left:15%;	
}
.logo{
	color:white;
	font-size:80px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -10px;
	margin-left:-50px;
	display:block;
	text-decoration: none;
	position:absolute;
	top:5%;
	left:10%;	
}


/*Planes*/

.planes{
	width: 100%;
	margin:0 auto;
	text-align: center;

}
.card {
	width: 330px;
	height: 260px;
	border: 1px solid  #d6d2d2;
	margin-right: 60px;
	margin-left: 70px;
	overflow: hidden;
	background-color:  #0C6798;
	color: white;
	margin-bottom: 10px;
	display: inline-flex;
	text-align: center;
	 background-color: #013A6B;
 	 background-image: -webkit-linear-gradient(85deg, white 50%, #0C6798 50%);
  
}
.card-body{
	width: 100%;
}


.title-section{
	text-align: center;
	font-size: 40px;
	color: #2468B9;
}
.card-title{
	margin-top: 20%;
	font-size: 20px;
}

.card-title::after{
	content: '';
	background-color: white;
	height: 1px;
	width: 15%;
	margin: 0 auto;
	display: block;
	margin-top: 5px;
}


.card-list {
	list-style: none;
	padding-left: 0;
	text-align: center;
	color: black;
	padding-top: 60px;

}

.card-list li{
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: 800;

}


/* seccion de abajo*/
.iconos{
	margin-left:  auto;
}
.texto{
	text-align: left;
	margin-right:  auto;
}
.texto ul{
list-style: none;

}
.texto ul li{

padding-bottom: 15px;
}
.iconos ul {
list-style: none;

}
.iconos ul li {
padding-bottom: 15px;

}
.columna{

	width:100%;
	background-image: linear-gradient(#19396C, #67E8CF);
	list-style: none;
  	margin: 0 auto;
	font-size: 40px;
	color: white;
	margin-top: 5%;
	display: flex;
	flex-direction: row;
}




footer{
	margin-top: 40px;
	background-color: #0C6798;
	padding:5px;
	font-size: 15px;
	color:white;
	text-align: center;
}

/*registro*/


.main-header-register{

	background-color: #0c6798;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.registro{
	max-width:1920px;
	margin:0 auto;
	max-width: 400px;
	text-align: center;

}
.main-header-register i{
	font-size: 80px;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;

}

.container-register h2{
margin-top: 50px;
	color:white;
	background-color: #3b5998;
	border-radius: 30px;
	font-size: 20px;
	padding: 25px ;
}
.form-control{
	width:100%;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
	
	margin:7px 0px;
	padding: 5px 0px;
}
.formulario{
	margin:0 auto;
}
.fecha{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 3%

}
.fecha input{
	width:33%;
	font-size: 16px;
}
.lista{
	width:33%;
	margin-right: 30px;
}
.special{
	margin-left: 30px;
	
}
.terminos{
	text-align: left;
	margin-top: 3%;
}
.registro-fin{
	width:60%;
	margin:0 auto;
	margin-top: 50px;
	color:white;
	background-color: #2468b9;
	border-radius: 30px;
	font-size: 12px;
	padding: 2px 5px ;
	
}
.iniciar-sesion {
	width:100%;
	font-size: 10px;
}

	
@media screen and (max-width: 400px){
	.registro{
		margin-left: 3%;
		margin-right:3%;
	}
}
@media screen and (max-width: 354px){
	.linea{
		font-size:11px;
	}
}