body{
	 font-family: Roboto;    
	 margin: 0 auto;

}
.header{
	position: relative;
	margin:0 auto;
}
.header img{
	
	width:100%;
}
.header ul{
	list-style: none;
	display: inline-flex;
	position: absolute;
	top: 40px;
	right: 30px;
	font-size: 20px;
	text-decoration: none;

	
}
.header ul li{
	margin-right: 15px;

}

.header ul li a{
	text-decoration: none;
	color: white;
}
.btn-registro{
	color:white;
	background-color: #0b6686;
	text-decoration: none;
	position:absolute;
	top:50%;
	left:50%;
	padding: 5px;
	border-radius: 25%;
	font-size: 30px;
}
.canciones{
	color:white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -10px;
	margin-left:-50px;
	width:200px;
	height:20px;
	display:block;
	text-decoration: none;
	position:absolute;
	top:70%;
	left:20%;	
}
.logo{
	color:white;
	font-size:60px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -10px;
	margin-left:-50px;
	display:block;
	text-decoration: none;
	position:absolute;
	top:5%;
	left:15%;	
}
/*Header*/

/*Planes*/

.planes{
	width: 100%;
	margin:0 auto;
	text-align: center;
}
.card {
	width: 330px;
	height: 260px;
	border: 1px solid  #d6d2d2;
	margin-right: 60px;
	margin-left: 70px;
	overflow: hidden;
	background-color:  #0C6798;
	color: white;
	margin-bottom: 10px;
	display: inline-flex;
	text-align: center;
	 background-color: #013A6B;
 	 background-image: -webkit-linear-gradient(80deg, white 50%, #0C6798 50%);
  
}
.card-body{
	width: 100%;
}


.title-section{
	text-align: center;
	font-size: 40px;
	color: #2468B9;
}
.card-title{
	margin-top: 20%;
	font-size: 20px;
}

.card-title::after{
	content: '';
	background-color: white;
	height: 1px;
	width: 15%;
	margin: 0 auto;
	display: block;
	margin-top: 5px;
}



.card-list {
	list-style: none;
	padding-left: 0;
	text-align: center;
	color: black;
	padding-top: 60px;

}

.card-list li{
	padding-bottom: 5px;
	font-size: 20px;
}
/* seccion de abajo*/
.columna{

	background-image: linear-gradient(#19396C, #67E8CF);
	text-align: left;
	padding:100px 35%;
  	margin: 0 auto;
	font-size: 40px;
	color: white;
	margin-top: 5%;
}


.columna-formato{

	width: 100%;
}

footer{
	margin-top: 40px;
	background-color: #0C6798;
	padding:5px;
	font-size: 15px;
	color:white;
	text-align: center;
}

/*Pagina de registro*/


.main-header-register{
	background-color: #0C6798;
	text-align: center;
}
.registro{
	margin:0 auto;
	max-width: 400px;
	text-align: center;

}
.main-header-register i{
	font-size: 80px;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;

}

.container-register h2{
margin-top: 50px;
	color:white;
	background-color: #0C6798;
	border-radius: 30px;
	font-size: 20px;
	padding: 25px ;
}
.form-control{
	width:100%;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
	
	margin:7px 0px;
	padding: 5px 0px;
}
.formulario{
	margin:0 auto;
}
.fecha{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 3%

}
.fecha input{
	width:33%;
	font-size: 16px;
}
.lista{
	width:33%;
	margin-right: 30px;
}
.special{
	margin-left: 30px;
	
}
.terminos{
	text-align: left;
	margin-top: 3%;
}
.registro-fin{
	width:60%;
	margin:0 auto;
	margin-top: 50px;
	color:white;
	background-color: #0C6798;
	border-radius: 30px;
	font-size: 10px;
	padding: 2px 5px ;
	
}
.iniciar-sesion {
	width:100%;
	font-size: 8px;
}

	
/*PRODUCTOS*/

/*PRODUCTOS*/
/*
@media screen and (max-width: 480px){
	body{
		
		
	}
	.main-header{
		margin: 0;
	}
	.logo .main-menu{
		text-align: center;
		padding-right: 100px;
		padding-top: 50px;
	}

	.logo img{
		margin-left: 120px;
	}
	
	.title-contact{
		margin-left: 0;
	}
	.card {
		width: 100%
	}
	.buscador input {
	
		margin-left: 171px;

	}

}

*/